header  {
    background-color: darkgray;
    margin: 0 auto;
    height: 50px;
}

header h1 {
    padding: 10px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

div {
    display: inline-block;
    margin: 0;
    padding: 0;
}

div#environment-container {

    height: 1000px;
    background-color: cornsilk;
    width: 20%;
}

div#character-container {
    background-color: darkgoldenrod;
    position: fixed;
    height: 1000px;
    width: 80%;
    top: 50px;
    right: 0px;
}

div.card {
    background-color: darkgray;
    box-shadow: 10px 10px darkgreen;
    border-radius: 10px; 
}